:root{
  --primary-color: #38598b;
  --secondary-color: #a2a8d3;
  --font-color: white ;
  --ff: "Archivo"
}

*{
  background-color: var(--primary-color);
  color: var(--font-color);
  font-family: var(--ff);
}
.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
}

* {
  box-sizing: border-box; /* Apply box-sizing globally */
}

.players {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Change baseline to flex-start */
  align-items: flex-start; /* Corrected from top to flex-start */
}
.player-link:hover{
  color: var(--secondary-color)
}